<!DOCTYPE html>
<html>
<head>
	<!--- calls css file and sets title--->
	<link rel="stylesheet" href="/static/lab7_format.css">
	<title> Just a Webpage </title>
</head>
<!--- body of page including h, p, styles, and links --->
<body style="background-color: white">
<!--- source for script code: https://developers.google.com/custom-search/docs/element
 	and google programmable search engine--->
<script async src="https://cse.google.com/cse.js?cx=9790d456520810e89"></script>
<div class="gcse-search"></div>
<!---------------------------------------------------------------------------->
	<div style="text-align:center">
		<a href="lab7_register.html" style="display:inline-block">REGISTER</a>
		<p> The date and time is: {{ datetime }} </p><br>
		<h1> Welcome to a Webpage! </h1>
		<h2> This is just a simple webpage to
		display some HTML basics.</h2>
		<h3> Not much else to know beyond that.</h3>
		<a href="login_land.html" style="display:inline-block">CLICK ME</a><br><br>
<!--		<a href="lab7_1.html" style="display:inline-block">Look A Link</a><br>-->
<!--		<a href="lab7_2.html" style="display:inline-block">Oh, another Link</a><br>-->
		<!--video embedded from youtube via youtube guide on embedding video-->
		<a href="https://www.youtube.com/embed/BBJa32lCaaY?autoplay=1"
		   style="display:inline-block">Don't Click Me!!!</a><br>
		<img src="/static/img2.jpg" alt="code">
	</div>
</body>
</html>