<!DOCTYPE html>
<html>
<head>
	<!--- calls css file and sets title--->
	<link rel="stylesheet" href="/static/lab7_format.css">
	<title> Login Landing </title>
</head>
<!--- body of page including h, p, styles, and links --->
<body style="background-color: white">
    <a href="lab7_web.html" style="display:inline-block">MAIN</a><br>
	<div style="text-align:center">
		<p> The date and time is: {{ datetime }} </p><br>
		<h1> Welcome to Landing and Navigation page. </h1>
		<h2> Please select a link to navigate to:</h2>

		<a href="lab7_1.html" style="display:inline-block">Look A Link</a><br>
		<a href="lab7_2.html" style="display:inline-block">Oh, another Link</a><br>
		<!--video embedded from youtube via youtube guide on embedding video-->
		<a href="https://www.youtube.com/embed/BBJa32lCaaY?autoplay=1"
		   style="display:inline-block">Don't Click Me!!!</a><br>
		<img src="/static/img3.jpg" alt="code">
	</div>
</body>
</html>